
    .subscribe-button {
      background-color: rgb(200, 0, 0);
      color: white;
      border: none;
      height: 36px;
      width: 105px;
      border-radius: 2px;
      cursor: pointer;
      margin-right: 8px;
      margin-left: 20px;
      transition: opacity .15s;
      vertical-align: top;
    }
    .subscribe-button:hover {
     opacity: .8;
    }
    .subscribe-button:active {
      opacity: .5;
    }
  
    .join-button{
      background-color: white;
      border-color: rgb(41, 118, 211);
      border-style: solid;
      border-width: 1px;
      color:  rgb(41, 118, 211);
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 9px;
      padding-bottom: 9px;
      border-radius: 2px;
      cursor: pointer;
      transition: background-color .15s,
      color .15s;
    }
    .join-button:hover {
      background-color: rgb(41, 118, 211);
      color: white;
    }
    .join-button:active {
      opacity: .7;
    }
    
    .tweet-button {
      background-color: rgb(2, 158, 255);
      color: white;
      border: none;
      height: 36px;
      width: 74px;
      border-radius: 18px;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      margin-left: 8px;
      transition: box-shadow 0.15s,
      opacity .15s;
      vertical-align: top;
      
    }
    .tweet-button:hover {
      box-shadow: 5px 5px 10px rgba(0,0,0, .15);
    }
    .tweet-button:active {
      opacity: .7;
    }
  
  