.header {
  height: 55px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  /* align-items:center; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid rgb(252, 246, 246);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
height: 24px;
margin-left: 24px;
margin-right: 24px;
}
.youtube-logo {
height: 24px;
}
.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  width: 0;
}
.search-bar::placeholder {
  font-size: 16px;
  padding-left: 10px;
}

.search-button {
height: 40px;
width: 66px;
background-color: rgb(240, 240, 240);
border-width: 1px;
border-style: solid;
border-color: gray;
margin-left: -1px;
margin-right: 10px;
}
.search-button, .voice-search-button, .upload-icon-container, .youtube-apps-icon-container, .notification-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-button  .tooltip,
.voice-search-button  .tooltip,
.upload-icon-container  .tooltip,
.youtube-apps-icon-container  .tooltip,
.notification-icon-container  .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip {
  opacity: 1;

}

.search-icon {
  height: 25px;
}

.voice-search-button {
height: 40px;
width: 40px;
border-radius: 20px;
border: none;
background-color: rgb(245, 245, 245);
position: relative;
}

.voice-search-icon {
  height: 24px;
  background-color: gray;
}

.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon,.youtube-apps-icon,.notifications-icon {
  height: 24px;
}

.notification-icon-container {
position: relative;

}

.notification-count {
position: absolute;
top: -2px;
right: -4px;
background-color:#cc0000;
color: white;
font-size: 11px;
padding-left: 5px;
padding-right: 5px;
padding-top: 2px;
border-radius: 10px;

}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
}