  p {
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
  
  }

  .video-title {
    font-size: 18px;
    font-weight: bold;
    width: 280px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .video-stats {
    font-size: 14px;
    color:rgb(96,96,96);
    margin-bottom: 20px;
  }
  .video-author {
    color: rgb(96,96,96);
    font-size: 14px;
    margin-bottom: 20px;

  }

  .video-description {
    font-size: 14px;
    color: rgb(96,96,96);
    width: 280px;
    line-height: 22px; 
    margin-bottom: 100px;      
  }

  .apple-text {
    margin-bottom: 50px;
    font-size: 14px;
    background-color:rgb(227,65,64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;    
  }
  .span-example {
    cursor: pointer;
    margin-left: 5px;
  }
  .span-example:hover {
    text-decoration: underline;
  }