.thumbnail {
  width: 100%;  
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;

}

.video-title {
  width: 245px;
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-author,.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);

}

.video-author {
  margin-bottom: 4px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-time  {
  font-size: 12px;
  border-radius: 2px;
  font-weight: 500;
  padding: 4px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;  
}

@media (max-width:800px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }

}

@media (min-width:801px) and (max-width:999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

/* @media (min-width:1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } */
