.headerx {    
   font-size: xx-large; 
   font-weight: bold;
   color: rgb(38, 93, 195);
   size: 50;
}
.paragraphx {
    color: burlywood;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.hello-button {
    background-color: blueviolet;
    color: white;
    font-size: medium;
    font-weight: bold;
    width: 150;
    height: 36;
    border: none;
    border-radius: 18px;
    transition: box-shadow 0.15s,
    opacity .15s;
}
.hello-button:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0, .15)
}
.hello-button:active {
    opacity: .7;
}
.links1 {
    color: rgb(31, 166, 112);
}