<style>

  .uber-button {
    background-color: black;
    color: white;
    font-size: 13px;
    margin-right: 8px;
    border: none;
    height: 45px;
    width: 105px;
    cursor: pointer;
    height: 36px;
    border-radius: 2px;
    transition: opacity .15s;
  }
  .uber-button:hover {
   opacity: .8;
  }
  .uber-button:active {
    opacity: .5;
  }
  .amazon-button {
    background-color: rgb(255, 216, 20);
    color: black;
    border: none;
    font-weight: bold;
    height: 36px;
    width: 150px;
    border-radius: 18px;
    cursor: pointer;
    transition: box-shadow 0.15s,
    opacity .15s;
}
.amazon-button:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0, .15)
}
.amazon-button:active {
    opacity: .7;
}
.github-button {
    background-color: rgb(46,164,79);
    color: white;
    margin-left: 8px;
    border: none;
    font-weight: bold;
    height: 36px;
    width: 85px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color .15s,
    color .15s;
  }
  .github-button:hover {
    background-color: white;
    color: rgb(46,164,79);
  }
  .github-button:active {
    opacity: .7;
  }
  .bootstrap-button {
    background-color: rgb(121,82,179);
    color: white;
    font-size: 15px;
    font-weight:bold;
    height: 36px;
    width: 100px;
    border: none;
    border-radius: 4px;
    margin-right: 6px;
    cursor: pointer;    
  }
  .download-button {
    background-color:white;
    color: rgb(108, 117, 125);
    font-weight:bold;
    height: 36px;
    width: 100px;
    border-style: solid;
    border-width: .5px;
    border-color: rgb(23, 5, 39);
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer; 
  }
  .linkedin-button {
    background-color:rgb(10, 102, 194);
    color: white;
    font-weight: bold;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  .save-button {
    background-color: white;
    color: rgb(39, 111, 182);
    font-weight:bolder;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border-color: rgb(39, 111, 185);
    margin-left: 6px;
  }

</style>








<button class="uber-button">
  Request now
</button>

<button class="amazon-button">
 Add to Cart
</button>

<button class="github-button">
  Sign up
</button>
<br>
<br>
<button class="bootstrap-button">
  Get started
</button>

<button class="download-button">
 Download
</button>

<button class="linkedin-button">
  Apply on company website
</button>
<button class="save-button">
  Save
 </button>