<style>
.p1 {
  font-weight: bold;
  font-size: larger;
  color: rgb(0, 118, 0);
}
.amazon-button {
    background-color: rgb(255, 216, 20);
    color: black;
    border: none;
    font-weight: bold;
    height: 36px;
    width: 150px;
    border-radius: 18px;
    cursor: pointer;
  }
  .amazon-button2 {
    background-color: rgb(255, 164, 28);
    color: black;
    border: none;
    font-weight: bold;
    height: 36px;
    width: 150px;
    border-radius: 18px;
    cursor: pointer;
  }
  .links {
    color: rgb(0, 113, 133);
  }
</style>

<button>Click</button>
<button>Marcus</button>
<button>Pizza</button>
<br>
<br>
<p>Hello World People!</p>
<p>Hello World!<br><br>
Today I went to the grocery store to buy some eggs and vegetables.</p>
<br>
<br>
<a href="https://www.google.com/" target="_blank" class="links">Search with Google</a>
<br>
<br>
<a href="https://www.amazon.com/" target="_blank" class="links">Back to Amazon</a>

<h1><p>Nike Black Running Shoes</p></h1>
<p class="p1">$39 - in stock.</p>
<p>Free delivery tomorrow.</p>
<br>
<button class="amazon-button">Add to Cart</button>
<button class="amazon-button2">Buy now</button>